@import url('https://fonts.googleapis.com/css2?family=Geist:wght@300;400;500;600&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  font-family: 'Inter', sans-serif;
  
}

select option {
  background: white;
  color: #334155;
}